require('dotenv').config({
  path: 'devops/prod/secrets/.env'
});

// config for typeorm CLI migration tool
module.exports = {
  type: 'mysql',
  host: '{{ db_host }}',
  port: '{{ db_port }}',
  username: '{{ db_user }}',
  password: '{{ db_pass }}',
  database: '{{ db_schema }}',
  entities: [
    'src/**/*.entity.ts'
  ],
  migrations: [
    'devops/prod/db/migrations/*.ts'
  ],
  cli: {
    migrationsDir: 'devops/prod/db/migrations'
  }
}
